<!DOCTYPE html>
<html lang="ja">
<head>
    <link rel="stylesheet" href="/assets/home.css">
</head>
<body>
    <div class="wrapper1">
    <div class="wrapper2">
    <%= render 'layouts/header' %>
        <div style="padding: 0.4rem; text-align: center;">
            <p style="font-weight: bold;">お問い合わせフォームの送信を完了致しました。</p>
            <br>
            <p>お問い合わせありがとうございます。</p>
            <p>ご入力頂いたメールアドレス宛に、ご確認メールをお送りしましたのでご確認ください。</p>
            <p>内容を確認次第ご連絡を差し上げますので、今しばらくお待ち下さいませ。</p>
        </div>
    <%= render 'layouts/footer' %>
    </div>
    </div>
</body>
</html>